{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");

    var redirect = "/search/" + $('#search_term').val();
    console.log(redirect);
    window.location.replace(redirect);
    
    // $.ajax({
    //   type:"POST",
    //   url:"/search/",
    //   data:{
    //     'search_term':$('#search_term').val()
    //   },
    //   success: function(result) {
    //     if(result) {
    //       console.log(result);
    //       if(result['status'] == 'success') {
    //         console.log('tweet');
    //         window.location.replace("/search");
    //       }
    //     } else {
    //       console.log('prob with ajax request');
    //     }
    //   }
    // });
  }

</script>
<body>
  <title>Garuda</title>
  {% include "header.html" %}
  <div class="container">
  <h1>Enter your Search Term</h1>
      <input type="text" class="form-group has-success has-feedback form-control login-form" placeholder="Search Here" id="search_term" style="margin: 20px auto 0 85px;">
      <button onclick="submit_form()" class="btn btn-success" style="margin: 25px 0 0 245px; display:block;">Submit</button>
  </div>
</div>
</body>
</html>
<!--
    Each time a tweet will be posted, the page should reload,
-->
