{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/post_tweet/",
      data:{
        'tweet_value':$('#tweet').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('tweet');
            //window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <title>Garuda</title>
{% include "header.html" %}
  <div class="container">
  <h1>Welcome</h1>
  <h2>Here are the people you follow</h2>
  <div id="main-container">
      <div id="users">
          <!-- A for loop which shows all the tweets of the user-->
          {% if following_list %}
            {% for following in following_list %}
            <div class="tweet-home">
              <a href="/user/{{ following.user_handle }}/">{{ following.user_handle}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ==>&nbsp;&nbsp;&nbsp;{{ following.user_name }}
            </div>
            
            {% endfor %}
          {% else %}
            <p>
              Looks like you dont follow anyone
            </p>
          {% endif %}

      </div>
  </div>
</div>
</body>
</html>
<!--
    Each time a tweet will be posted, the page should reload,
-->
