<div class="header">
    <ul class="header-list" style="margin-left:300px; display:inline-block;">
      <a href="/home/" class="header-link">Home</a>
      <a href="/followers/" class="header-link">My Followers</a>
      <a href="/following/" class="header-link">Following</a>
      <a href="/mytweets/" class="header-link">My Tweets</a>
      <a href="/dosearch/" class="header-link">Search</a>
      <a href="/all/" class="header-link">All users</a>
    </ul>
    <a href="/user/{{ user_handle }}" style="margin-left:200px; display:inline-block; color:green;">{{ user_handle }}</a>
    <a href="/logout/" style="margin-left:20px; display:inline-block;">Logout</a>
  </div>