{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/post_tweet/",
      data:{
        'tweet_value':$('#tweet').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('tweet');
            window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<title>Garuda</title>
<body>
  {% include "header.html" %}
  <div class="container">
    <h1 style="color:green;">Welcome to Garuda</h1>
    <br><br><br><br>
    <div class="tweet-container">
        <textarea id="tweet" placeholder="Your Tweet Here ..." class="form-control" rows="4" style="width:550px;"></textarea> <!-- Make it fixed rows and columns -->
        <button onclick="submit_form()" class="btn btn-success" style="margin: 0 auto; display:block; margin-top: 5px;">Submit</button>
        <div id="user-tweets">
            <!-- A for loop which shows all the tweets of the user-->
            {% for tweet in tweets %}
            <p class="tweet-home">
              {{ tweet.tweet_value }}<br><br>
              by <a href="#">{{ tweet.posted_by }}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ tweet.post_time }}<br>
            </p>
            <br>
            {% endfor %}
        </div>
    </div>
  </div>
</body>
</html>
<!--
    Each time a tweet will be posted, the page should reload,
-->
