{% load static from staticfiles %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
<h1>Welcome</h1>
<p>
  Your user details are - 
  <br>
  Your handle is {{ user_handle }}
  <br>
  Your email is {{ user_email }}
</p>
<div id="tweet-container">
    <textarea id="tweet" placeholder="Your Tweet Here ..."></textarea> <!-- Make it fixed rows and columns -->
    <div id="user-tweets">
        <!-- A for loop which shows all the tweets of the user-->
    </div>
</div>
</html>