{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
  <title>Garuda | Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/bootstrap-min.css">
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-2.1.1.min.js"></script>
</head>
<script type="text/javascript">
  
  function submit_form () {
    console.log("Form Submitted");
    
    $.ajax({
      type:"POST",
      url:"/loginuser/",
      data:{
        'user_email':$('#user-email').val(),
        'user_password':$('#user-password').val()
      },
      success: function(result) {
        if(result) {
          console.log(result);
          if(result['status'] == 'success') {
            console.log('redirect below');
            window.location.replace("/home/");
          }
        } else {
          console.log('prob with ajax request');
        }
      }
    });
  }

</script>
<body>
  <div class="container">
  <h1>Welcome to Garuda</h1>
  <h3 style="text-align:center;">Please Enter your Details</h3>
  <br>
  <br>
  <br>
  <!-- <form  method="post"> -->
  <!-- ADD E.PREVENT DEFAULT STUFF AND REVERT IT BACK AS
  A FORM  -->
    {% csrf_token %}
    <input type="email" name="user_email" placeholder="Email" class="form-group has-success has-feedback form-control login-form" id="user-email" style="margin-left:90px;">
    <input type="password" name="user_password" placeholder="Password" class="form-group has-success has-feedback form-control login-form" id="user-password" style="margin-left:90px;">
    <button class="btn btn-success" style="text-align:center; margin-left:260px;" onclick="submit_form()">Submit</button>
  <!-- </form> -->
  <div id='signup'>
    <button class="btn btn-warning" onclick="location.href='/signup'">Click Here to sign up!</button>
  </div>
</div>
</body>